<h1>The next step for Ifeelgoods</h1>

1) Create a controller and a page that displays the current time.</br>
- I created 1 controller and 4 views : Controller == home Views == facebook, presentation, time, index</br></br>
2) Create a Facebook Page : </br>
- It will speak about my way of life when I'll be there (At Palo Alto)</br></br>
3) Create a pagetab app : </br>
- I created a pagetab using the rails application pushed on heroku </br></br>


