<h1>The next step for Ifeelgoods</h1>

1) Create a controller and a page that that displays the current time.</br>
- I created 1 controller and 4 views : Controller == home Views == facebook, presentation, time, index</br></br>
2) Create a Facebook Page : </br>
- It will speak about my way of life when I'll be there (At Palo Alto)</br></br>
3) Create a pagetab app that displays the page you rendered on the Page Tab.</br>
- I created a pagetab for the Moadon website : <a href="http://www.moadon.fr">www.moadon.fr</a> do not have a https connexion...</br></br>


