<h1>Home#page</h1>
<p>Find me in app/views/home/page.html.erb</p>

<style type="text/css">
.Menu {
	clear: both;
	float: left;
	padding-right:10px;
	
}

.item_Menu{
	float: left;
	padding-left:20px;
	padding-right:20px;
}
.Corp{
	clear:both;
}
.Corp_formulaire{
	float: left;
	
}
.Corp_images{
	float:left;
}
</style>

<div class="Menu">
	<div class="item_Menu">hello</div>
	<div class="item_Menu">hello</div>
	<div class="item_Menu">hello</div>
</div>
<div class="Corp">

<div class="Corp_formulaire">
	
	<form>
		<table >
		  <tr>
		  <td> Name  </td>
		  <td> <input type="text" name="name" /> </td>
		  </tr>
		
		  <tr>
		  <td> First Name  </td>
		  <td> <input type="text" name="firstname" /> </td>
		  </tr>
	    
	  	  <tr>
		  <td> Email  </td>
		  <td> <input type="text" name="mail" /> </td>
		  </tr>
		  
		 <input name="Valider" type="button" value="Valider" />
		</table>
	</form>	
</div>

<div class="Corp_images">
<h1>hello<h1>
</div>
</div>
<div class="bas">
	
</div>


