<h1>Page</h1>
<p>Temp page</p>

<style type="text/css">
.Menu {
	clear: both;
	float: left;
	padding-right:10px;
	
}

.item_Menu{
	float: left;
	padding-left:20px;
	padding-right:20px;
}
.Corp{
	clear:both;
}
.Corp_formulaire{
	float: left;
	padding-top:75px;
}
.Corp_images{
	float:left;
}
</style>

<div class="Menu">
	<div class="item_Menu">Link 1</div>
	<div class="item_Menu">Link 2</div>
	<div class="item_Menu">Link 3</div>
</div>
<div class="Corp">

<div class="Corp_formulaire">
	
	<form>
		<table >
		  <tr>
		  <td> Name  </td>
		  <td> <input type="text" name="name" /> </td>
		  </tr>
		
		  <tr>
		  <td> First Name  </td>
		  <td> <input type="text" name="firstname" /> </td>
		  </tr>
	    
	  	  <tr>
		  <td> Email  </td>
		  <td> <input type="text" name="mail" /> </td>
		  </tr>
		</table>
		 <input name="Valider" type="button" value="Valider" />

	</form>	
</div>

<div class="Corp_images">
<img src="/image.jpeg">
</div>
</div>
<div class="bas">
	
</div>


