<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  
  <script>
  $(document).ready(function() {
    $("#accordion").accordion();
  });
  </script>

<h1>About me</h1>
<h2>Natanel Partouche</h2>
<a href="" >
<a href="http://linkedin.com/pub/natanel-partouche/34/322/914">linkedin</a></br>
<a href="https://www.facebook.com/Nat.Partouche">facebook</a></br></br></br>
  
<div  id="accordion">
    <h3><a href="#">Education</a></h3>
    <div style="font-size:62.5%">
    2011: Studying Engineer 4th over 5 years at ECE Paris Ecole d’Ingénieurs http://www.ece.fr/ </br>
    2010: Semester in Concordia University Montreal (Canada) Engineering and Computer Sciences department (courses in English) </br>
    2008-2010: Integrated preparatory cycle </br>
	Computer skills: C, C++, .NET, UML, Java, Data Base Management, HTML, CSS, JavaScript, PHP, MySQL </br>
	Self-taught & E Learning: Jquery Mobile, Objective C </br>
	Human skills: team management & communications </br>
    </div>
    <h3><a href="#">Work experiences</a></h3>
    <div style="font-size:62.5%">
    July 2011: Self-employed Entrepreneurs Mobile software applications development, projects management, sales & delivery</br> 
    Application posted in Apple Store</br>
    2011 – 2012: Multidisciplinary projects, teamwork using Information Systems, Embedded Systems, Embedded Environment</br>
    Concept: using Mobile Multiplatform Systems and Technologies for a contractor project that manages private parking lots, payment of places & server management for Afapark</br>
    June – July 2011: Alti Consulting technical internship, Software development of an i-Phone application posted in the Ad Hoc internal network</br>
    2008 – 2011: Tutoring mathematics, physics and computer.
    </div>
    <h3><a href="#">Leader experiences</a></h3>
    <div style="font-size:62.5%">
    2011: Summer & Winter Camps director in France & USA (Boston, New York, Washington) </br> 
    -Responsibilities: Head of organization, counselors management, and Treasury account management </br> 
    2010: Summer & Winter Camp director in France</br> 
	-Responsibilities: Head of organization, counselors management </br> 
	2008: Summer	in USA Portland Oregon</br> 
	-Responsibilities: Educational activities, sports and communication in English.</br> 
    </div>
    <h3><a href="#">interests</a></h3>
    <div style="font-size:62.5%">
    Travel: Europe, Chili, Canada, USA, Israel, China, Hong Kong</br>
    Sports: Ski, bicycle, volleyball</br>
    Music: Guitar player</br>
    New technologies: NFC</br>
    
    </div>
</div>


