<h1>FacebookApplication#index</h1>
<p>Find me in app/views/facebook_application/index.html.erb</p>
<a https://www.facebook.com/dialog/oauth?client_id= 259575184121572&redirect_uri=https://high-stone-5910.heroku.com/facebook_application">enter</a>