<!DOCTYPE html>
<html>
<head>
  <title>SecondStep</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<a href="../home/index">Home</a></br></br>
	<a href="../home/facebook">Facebook</a>
	<a href="../home/presentation">About me</a>
	<a href="../home/time">Local time<a>
	<a href="../home/page">scratch page<a>
<%= yield %>

</body>
</html>
